################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/Main/.vs/Main/FileContentIndex/4359262d-cae9-45de-97ba-1cba4429e06d.vsidx
/Main/.vs/Main/FileContentIndex
