@page "/"
@    using Main.Data
@inject BoardGameInfoService boardGameService

<form action="/" method="post">
    <label for="lengthInput">Number of letters per column/row:</label>
    <input type="number" id="lengthInput" @bind-value="Length" min="3" max="30" />
</form>

<form>
    @for (int i = 0; i < Length; i++)
    {
        @for (int j = 0; j < Length; j++)
        {
            int x = i, y = j;
            <input type="text" maxlength="1" @bind:get="LetterArray[x][y]" @bind:set="(value) => TextInput(value, x, y)"/>
        }
        <br />
    }

    <br />
    @* <input type="button" value="Commit" disabled="@IsDisabled" /> *@
    <input type="button" value="Solve Puzzle" disabled="@false" @onclick="SolvePuzzleAsync" />
</form>

<br />
<button @onclick="ReadArray">Click ME!</button>
<br />

@if (_foundItems != null)
{
    
}


@code
{
    private int _length;
    private List<FoundItem>? _foundItems { get; set; }
    public List<char[]> LetterArray { get; set; } = new();

    public int Length
    {
        get => _length;
        set
        {
            _length = value;
            LetterArray = new();
            Enumerable.Range(0, _length).ToList().ForEach(i => LetterArray.Add(new char[Length]));
        }
    }

    public bool IsDisabled { get => !LetterArray.All(row => row.All(i => i != default)); }

    protected override Task OnInitializedAsync()
    {
        Length = 3;
        return base.OnInitializedAsync();
    }

    private void ReadArray()
    {
        if (LetterArray == null)
            return;

        foreach (var item in LetterArray)
            Console.WriteLine(item);
    }

    private void TextInput(char e, int i, int j)
    {
        char value = char.ToUpper(e);
        if (!char.IsLetter(value))
            value = default;

        LetterArray[i][j] = value;
    }

    private async void SolvePuzzleAsync()
    {
        string testString =
            @"I M P E R I U M
            A A A A A A A L
            A A A A A A A E
            A A A A A A A M
            A A A A A A A A
            A A A A A A A A
            A A A A A A A A
            A A A A A A A A";

        string testString2 = 
        @"H U U L H D P S K D X S O O X
        R D S G C M W R A E P U N X Y
        N K I H N F W T R T O F U I O
        J R V X U E O L T E H L N I W
        V E O D I Q O B O K F A R S B
        Y N H O B T D Q G T O L I Z C
        D Y L T T E C F R Y Y L M T O
        O O J M S O R D A W O E N M N
        N Q A S W M A C F P B Z E S C
        I A I X X I F V O K H B M N O
        C B P V H I T R W B B V E G R
        Z Q U K T W K Y I B Y S Z S D
        K O R U O A Q A E L C S I V I
        I A L T I P L A N O V S S G A
        G C C Q B R P I R A M I D O X";

        List<char[]> letters = testString2.Split('\n').Select(row => row.ToCharArray().Where(c => c != ' ' && c != '\r').ToArray()).ToList();
        _foundItems = await boardGameService.SolvePuzzleAsync(letters);
    }
}